<ion-view view-title="<div><span class='header-logo'><img class='title-image' src='img/Ampf.png' alt='App logo'/></span></div>">
  <ion-content class="padding">
<BR/>
</BR>
  <center><div><span class='header-logo'><img class='title-image' src='img/credit_card_logos.gif' alt='Card logo'/></span></div></center>
  <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Credit Card Number">
          </label>
          <label class="item item-input">
              <input type="text" placeholder="CVV">
          </label>
      </div>
      <button class="button button-block button-positive">Make Payment</button>
   <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>
